/*TODO: Figure out less or equivalent*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");

body {
    background-color: rgb(35, 35, 35); 
    color: #ffffff;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100
}

nav {
    opacity: 0.9;
    background-color: #0a0b0c;
}

nav ul li {
    cursor: pointer;
    display: inline-block;
    padding: 0 1em 0 1em;
    transition-duration: 0.3s;
}
nav ul li:hover {
    background-color: #1b1e21;
}
nav ul {
    padding: 0;
    margin: 0 auto 0 auto;
}

h1 {
    margin: 0;
    padding: 1em;
}

::-webkit-scrollbar {
    background-color: rgb(35, 35, 35);
    width: 0.5em;
}
::-webkit-scrollbar-thumb {
    background-color: #141414;
}
::-webkit-scrollbar-track {
    background-color: #0a0b0c;
}

.flip-clock-divider .flip-clock-label {
    color: #009688;
}
.center {
  text-align: center;
}
.center .timer {
  display: inline-block;
  width: auto;
}